
SchoolScheduler.db
__pycache__/wsl.cpython-38.pyc
__pycache__/schedulerui.cpython-38.pyc
__pycache__/schedule.cpython-38.pyc
__pycache__/generatedata.cpython-38.pyc
__pycache__/db_alchemy.cpython-38.pyc
__pycache__/schedulerui.cpython-38.pyc
__pycache__/schedulerui.cpython-38.pyc
